In [1]:
#Program 4.11

import pandas as pd
df1=pd.read_csv("Program_4.11.csv")
print(df1)
df1['profit'] = df1['profit'].apply(lambda x:x>0)
df1

  cname  profit
0     A   12000
1     B    2000
2     C   78000
3     D   23000
4     E   52000

  cname  profit
0     A    True
1     B    True
2     C    True
3     D    True
4     E    True