In [1]:
# Program 4.3

import pandas as pd
dict1 = {
    'Name' : ['Anu', 'Surya', 'Sandra', 'Kripa'],
    'Age' : [18, 25, 22, 20],
    'Place' : ['Kollam', 'Kannur', 'Palakkad', 'Malapuram'],
}
df1 = pd.DataFrame(dict1)
print(df1)

     Name  Age      Place
0     Anu   18     Kollam
1   Surya   25     Kannur
2  Sandra   22   Palakkad
3   Kripa   20  Malapuram