In [1]:
#Program 4.9

import pandas as  pd
df1 =  pd.read_csv("Program_4.9.csv")
print(df1)
print("\n\n")
avg =  df1.groupby('Occupation')['Salary'].mean()
print(avg)

     Name Occupation  Salary
0  Vishal    Teacher   12000
1    Diya      Clerk    5000
2     Anu      Clerk    6000
3   Minnu    Teacher   14000
4    Sina    Teacher   19000



Occupation
Clerk       5500.0
Teacher    15000.0
Name: Salary, dtype: float64